@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>Strona powstała w celu zapewnieniu użytkownikom darmowych linków z rapidu. W wyszukiwarce  możemy skorzystać z wyszukiwarki na imdb, wpisujemy angielski tytuł :)</p>
<p>TODO:
    <div class="glyphicon glyphicon-arrow-right"> Wyszukiwanie plików na rapidu </div><br />
    <div class="glyphicon glyphicon-arrow-right"> Obsługa więcej niż jednego konta w danym momencie</div></p>