@using WebApplication1.Models;
@using System.Text;

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



@{

    foreach (var item in LinkList.name)
    {
        Html.DisplayText(Convert.ToString(item));
    }


}
@ViewBag.test

