<div class="jumbotron">
    <form class="form-inline" action="/home/Downloader?">
        <input type="text" name="getUrl" class="form-control" placeholder="link rapidu.net">
        <input class="btn btn-default" type="submit" value="Wygeneruj">
    </form>
</div>
@ViewBag.Info